<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Título Aquí</title>
</head>
<body>
<header>
    <h1 th:text="${title}"></h1>

</header>

<nav>
    <ul>
        <li><a href="#seccion1">Inicio 1</a></li>
    </ul>
</nav>

<main>
    <section id="seccion1">
        <h2>Sección 1</h2>
        <p>Contenido de la sección 1.</p>
    </section>
</main>

<footer>
    <p>Pie de página.</p>
</footer>
</body>
</html>
